<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-lazy-init="true">

    <description>Shiro安全配置</description>

    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager" ref="shiroEhcacheManager"/>
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="cn.im47.cloud.storage.security.ShiroDbRealm" depends-on="userMapper,groupMapper">
        <property name="userManager" ref="userManagerImpl"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/index"/>
        <property name="unauthorizedUrl" value="/login?unauthorized=true"/>
        <property name="filterChainDefinitions">
            <value>
                /login = authc
                /logout = logout
                /static/** = anon
                /api/** = anon
                /account/** = user
                /ftpUser/** = user
                /node/** = user
                /file/** = user
                <!-- 用户管理 -->
                /account/user/create = perms["user:create"]
                /account/user/update/** = perms["user:update"]
                /account/user/delete/** = perms["user:save"]
                /account/user/audit/** = perms["user:save"]
                /account/user/batchDelete/** = perms["user:save"]
                /account/user/batchAudit/** = perms["user:save"]
                /account/user/listAll = perms["user:list"]
                <!-- ftpUser管理 -->
                /ftpUser/create = perms["ftpUser:create"]
                /ftpUser/update/** = perms["ftpUser:update"]
                /ftpUser/delete/** = perms["ftpUser:save"]
                /ftpUser/get/** = perms["ftpUser:list"]
                <!-- 文件管理 -->
                /file/create = perms["file:create"]
                /file/update/** = perms["file:update"]
                /file/delete/** = perms["file:save"]
                /file/get/** = perms["file:list"]
                <!-- 结点管理 -->
                /node/create = perms["node:create"]
                /node/update/** = perms["node:update"]
                /node/delete/** = perms["node:save"]
                /node/get/** = perms["node:list"]
            </value>
        </property>
    </bean>

    <!-- 用户授权/认证信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:security/ehcache-shiro.xml"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
</beans>