<?xml version="1.0" encoding="UTF-8"?>
<server xmlns="http://mina.apache.org/ftpserver/spring/v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://mina.apache.org/ftpserver/spring/v1 http://mina.apache.org/ftpserver/ftpserver-1.0.xsd"
        id="myFtpServer" max-logins="100" anon-enabled="false" max-anon-logins="0" max-login-failures="3"
        login-failure-delay="5000" xmlns:beans="http://www.springframework.org/schema/beans">
    <!-- max-logins 最大并发用户数，默认10
        anon-enabled 是否允许匿名用户登陆，默认true
        max-anon-logins 最大匿名用户数，默认10
        max-login-failures 连接关闭前登陆失败后尝试次数，默认10
        login-failure-delay 登陆失败后的时间延迟（ms），用于限制配置暴力破解密码，默认10
     -->

    <listeners>
        <nio-listener name="default" port="21" idle-timeout="300">
            <ssl>
                <keystore file="ftp/ftpserver.jks" password="password" />
            </ssl>
        </nio-listener>
    </listeners>

    <ftplets>
        <ftplet name="ftplet1">
            <beans:bean class="cn.im47.cloud.storage.ftp.FileFtplet" />
        </ftplet>
    </ftplets>

    <db-user-manager>
        <data-source>
            <beans:ref bean="dataSource" />
        </data-source>
        <insert-user>INSERT INTO CS_FTP_USER (user_name, user_password, home_directory, enable_flag, write_permission, idle_time, upload_rate, download_rate)
            VALUES ('{userid}', '{userpassword}', '{homedirectory}', {enableflag}, {writepermission}, {idletime}, {uploadrate}, {downloadrate})
        </insert-user>
        <update-user>UPDATE CS_FTP_USER SET
            user_password='{userpassword}',home_directory='{homedirectory}',enable_flag={enableflag},write_permission={writepermission},idle_time={idletime},upload_rate={uploadrate},download_rate={downloadrate}
            WHERE user_name='{userid}'
        </update-user>
        <delete-user>DELETE FROM CS_FTP_USER WHERE user_name = '{userid}'</delete-user>
        <select-user>SELECT user_name AS userid, user_password AS userpassword, home_directory AS homedirectory, enable_flag AS enableflag,
            write_permission AS writepermission, idle_time AS idletime, upload_rate AS uploadrate, download_rate AS downloadrate,
            max_login_number AS maxloginnumber, max_login_per_ip AS maxloginperip
            FROM CS_FTP_USER WHERE user_name = '{userid}'
        </select-user>
        <select-all-users>SELECT user_name AS userid FROM CS_FTP_USER ORDER BY user_name</select-all-users>
        <is-admin>SELECT user_name AS userid FROM CS_FTP_USER WHERE user_name='{userid}' AND user_name='admin'</is-admin>
        <authenticate>SELECT user_password AS userpassword from CS_FTP_USER WHERE user_name='{userid}'</authenticate>
    </db-user-manager>

</server>