<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.im47.cloud.storage.common.dao.file.UploadedFileMapper">

    <resultMap id="fileDetailMap" type="UploadedFile">
        <id property="id" column="id"/>
        <result property="customName" column="custom_name"/>
        <result property="fileKey" column="file_key"/>
        <result property="realName" column="real_name"/>
        <result property="suffix" column="suffix"/>
        <result property="md5" column="md5"/>
        <result property="CRC" column="CRC"/>
        <result property="downloadCount" column="download_count"/>
        <result property="shared" column="shared"/>
        <result property="status" column="status"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="deleted" column="deleted"/>
        <association property="node" column="node_id" javaType="Node"
                    resultMap="cn.im47.cloud.storage.common.dao.file.NodeMapper.nodeDetailMap">
        </association>
    </resultMap>

    <sql id="fileColumns">F.id, F.custom_name, F.file_key, F.real_name, F.suffix, F.size, F.md5, F.CRC, F.download_count, F.shared, F.status,
        F.last_modified_date, F.created_date, F.deleted</sql>

    <select id="get" parameterType="Long" resultMap="fileDetailMap">
        SELECT
        <include refid="fileColumns"/>
        FROM ${appKey}CS_FILE AS F
        WHERE id =#{id}
        LIMIT 1
    </select>

    <select id="getByFileKey" parameterType="map" resultMap="fileDetailMap">
        SELECT
        <include refid="fileColumns"/>
        FROM ${appKey}CS_FILE AS F
        WHERE file_key =#{fileKey}
        LIMIT 1
    </select>

    <select id="getByNode" parameterType="Long" resultMap="fileDetailMap">
        SELECT
        <include refid="fileColumns"/>
        FROM ${appKey}CS_FILE AS F
        WHERE node_id =#{id}
        ORDER BY F.last_modified_date DESC
        <if test="limit != null and limit>0">
            LIMIT ${offset}, ${limit}
        </if>
    </select>

    <select id="countByNode" resultType="Long">
        SELECT COUNT(id)
        FROM ${appKey}CS_FILE AS F
        WHERE node_id =#{id}
    </select>

    <select id="count" resultType="Long">
		SELECT COUNT(id)
		FROM ${appKey}CS_FILE
	</select>

    <insert id="save" parameterType="UploadedFile" useGeneratedKeys="true" keyProperty="object.id">
		INSERT INTO ${appKey}CS_FILE
		(id, node_id, custom_name, file_key, real_name, suffix, size, md5, CRC, download_count, shared, status, deleted, created_date)
		VALUES
		(null, #{object.node.id}, #{object.customName}, #{object.fileKey}, #{object.realName}, #{object.suffix}, #{object.size}, #{object.md5}, #{object.CRC}, #{object.downloadCount},
		 #{object.shared}, #{object.status}, #{object.deleted}, null)
	</insert>

    <delete id="delete">
		DELETE FROM ${appKey}CS_FILE
		WHERE file_key=#{fileKey}
	</delete>

    <update id="update" parameterType="UploadedFile">
        UPDATE ${appKey}CS_FILE
        <set>
            <if test="object.customName != null and object.customName !=''">
                custom_name=#{object.customName},
            </if>
            <if test="object.fileKey != null and object.fileKey !=''">
                file_key=#{object.fileKey},
            </if>
            <if test="object.realName != null and object.realName !=''">
                real_name=#{object.realName},
            </if>
            <if test="object.suffix != null and object.suffix !=''">
                suffix=#{object.suffix},
            </if>
            <if test="object.size != null">
                size=#{object.size},
            </if>
            <if test="object.md5 != null and object.md5 !=''">
                md5=#{object.md5},
            </if>
            <if test="object.CRC != null and object.CRC !=''">
                CRC=#{object.CRC},
            </if>
            last_modified_date = null
        </set>
        WHERE file_key=#{fileKey}
    </update>

    <!-- 更新下载次数 -->
    <update id="updateDownload" parameterType="String">
        UPDATE ${appKey}CS_FILE
        SET download_count = download_count + 1
        WHERE file_key=#{fileKey}
    </update>

    <update id="updateBool">
        UPDATE ${appKey}CS_FILE
        SET ${column}=1-${column}
        WHERE file_key=#{fileKey}
    </update>

    <select id="search" parameterType="map" resultMap="fileDetailMap">
        select <include refid="fileColumns"/>
        FROM ${appKey}CS_FILE AS F
        <where>
            1=1
            <if test="parameters.customName != null and parameters.customName !=''">
                and custom_name=#{parameters.customName}
            </if>
            <if test="parameters.fileKey != null and parameters.fileKey !=''">
                and file_key=#{parameters.fileKey}
            </if>
            <if test="parameters.realName != null and parameters.realName !=''">
                and real_name=#{parameters.realName}
            </if>
            <if test="parameters.suffix != null and parameters.suffix !=''">
                and suffix=#{parameters.suffix}
            </if>
            <if test="parameters.size != null">
                and size=#{parameters.size}
            </if>
            <if test="parameters.md5 != null and parameters.md5 !=''">
                and md5=#{parameters.md5}
            </if>
            <if test="parameters.CRC != null and parameters.CRC !=''">
                and CRC=#{parameters.CRC}
            </if>
            <if test="parameters.shared != null">
                and shared=#{parameters.shared}
            </if>
            <if test="parameters.status != null">
                and status=#{parameters.status}
            </if>
            <if test="parameters.deleted != null">
                and deleted=#{parameters.deleted}
            </if>
        </where>
        <if test="parameters.Sort != null and parameters.Sort!=''">
            ORDER BY F.${parameters.Sort} ${parameters.Direction}
        </if>
        <if test="parameters.limit != null and parameters.limit>0">
            LIMIT ${parameters.offset}, ${parameters.limit}
        </if>
    </select>
</mapper>